# Rascunhos e arquivos de teste
aula_x.py
aula_Y.py
teste/

# Arquivos administrativos e ferramentas
repomix-output.xml
Ementa Cursos.xlsx - OO.csv
What Object-Oriented Programming Was Supposed to Be.pdf
pictures/
